<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Turístico - Portal Pedro II</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <link rel="stylesheet" href="../css/mapa.css">
</head>
<body>
    <header>
        <nav style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
        <h1>Portal Pedro II</h1>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/estabelecimentos">Serviços</a></li>
            <li><a href="/transportes">Transportes</a></li>
            <li><a href="/sugestao">Sugerir</a></li>
            <li><a href="/perfil">Perfil</a></li>
            
            <li>
                <a href="#" id="btnTema" style="font-size: 1.2rem; padding: 5px; display: flex; align-items: center;" title="Alternar Tema">
                    <span id="iconeTema">🌙</span>
                </a>
            </li>
        </ul>
        </nav>
    </header>

    <main>
        <div class="container-mapa">
            <h2>Explore Pedro II</h2>
            <div id="map"></div> </div>
    </main>

    <footer>
        <p>© 2025 - Portal Pedro II | Projeto IFPI</p>
    </footer>

    <script src="/js/tema.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../js/mapa.js"></script>
</body>
</html>